RewriteEngine On

# Si la petición es para un archivo o directorio que existe, sírvelo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si existe el archivo con extensión .php, reescribe la URL
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
